.container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.section {
	
}

.title {
	border: 1px black;
	font-family: monospace;
	font-size: 30px;
	background-color: cornflowerblue;
}