.container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.section {
	border: 2px solid black;
}

.title {
	flex-grow: 1;
	font-family: monospace;
	font-size: 30px;
	background-color: cornflowerblue;
}

.content {
	flex-grow: 5;
	font-family: sans-serif;
	font-size: 15px;
	background-color: bisque;
}