/* Jade colors from https://picocss.com/docs/colors */

#message_feed {
    border: 1px solid #015234;
    border-radius: 5px;
    margin-bottom: 1vh;
    /* position children */
    display: flex;
    flex-direction: column;
    /* scroll when content exceeds height */
    min-height: 50vh;
    max-height: 50vh;
    overflow-y: auto;
}

.bubble {
    margin: 5px;
    max-width: 80%;
}

.bubble.user {
    background-color: #005F3D;
    color: white;
    /* user bubbles align right */
    margin-left: auto;
}