#message_feed {
    min-height: 50vh;
    border: 1px solid #015234;
    border-radius: 5px;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
}

.bubble {
    margin: 5px;
    width: 80%;
}

.bubble.user {
    background-color: #005F3D;
    color: white;
    margin-left: auto;
}