.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box {
	width: 300px;
	height: 200px;
	
	border: 2px solid black;
	margin: 5px;
	
	font-family: monospace;
	font-size: 50px;
	
	text-align: center;
}

.odd {
	color: hotpink;
	background-color: green;
}

.even {
	color: blue;
	background-color: purple;
}

#fixed {
	position: fixed;
	right: 0px;
	bottom: 0px;
	
	border: 5px dashed gold;
	
	font-family: fantasy;
	font-size: 80px;
	color: grey;
}